@media (max-width: 1100px) {
  .header-img {
    max-width: 45%;

    height: auto;
  }

  /* .container {
    padding-left: 20px;
    padding-right: 20px;
  }  */

  .header-title {
    font-size: 30px;
  }

  .header-inner {
    max-width: 700px;
  }

  .hero-inner {
    max-width: 700px;
  }

  .logo {
    flex-shrink: 0;
    font-size: 22px;

  }


  .services {
    max-width: 100%;
      gap: 30px;
    /* max-width: 700px; */
  }

  .hero {
    overflow: visible;
  }
}

@media (max-width: 730px) {
  .burger {
    display: block;
    font-size: 32px;
    cursor: pointer;
    position: absolute;
    top: 46px;
    right: 20px;
  }

  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 20px;
    background-color: white;
    padding: 20px;
    width: 160px;
    row-gap: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  #menu-toggle:checked~.nav {
    display: flex;
  }

  .logo {

    padding-top: 0px;
    font-size: 32px;
    font-weight: 700;
  }

  .hero {
    /* flex-direction: column; */
    padding-top: 20px;
    padding-bottom: 0;
    /* padding-left: 30px;
    padding-right: 30px; */
    /* align-items: flex-start; */
  }

  .hero-inner {
    max-width: 350px;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .header-inner {

    padding-bottom: 0px;

  }

  .hero-text {
    padding-top: 16px;
    width: 100%;
    text-align: left;
  }

  .header-title {
    font-size: 28px;
    padding: 0;
    margin-bottom: 12px;
  }


  .hero-text p {
    font-size: 14px;
    line-height: 200%;
  }



  .header-img {
    width: 100%;
    max-width: 315px;
    min-width: unset;
    height: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .services {
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    margin-top: 45px;
    padding: 0;
  }

  .portfolio-title {
    padding-top: 15px;
  }

  .project-img {
    width: 100%;
    height: auto;
    display: block;
  }

  .container {
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
  }

  .projects {
    gap: 40px;
  }

  .contacts p {
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 20px;
    color: #070707;
  }

  .messengers {

    gap: 41px;
  }

  .contacts p.likeme {
    color: #828282;
  }
}